# Ignore the .streamlit folder
.streamlit/

# Ignore the .venv folder
.venv/

# Ignore Jupyter notebooks
*.ipynb

# Ignore zip files
*.zip

# Ignore .env files
.env

# Ignore Python cache files
__pycache__/

# Ignore Python bytecode files
*.pyc